body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p{
  font-size: 13px;
}


a.accout{
  color: #FC4349;
  padding-right: 2px;
  font-size: 13px;
}
a.accout:link { color: #FC4349; }
a.accout:visited { color: #FC4349; }
a.accout:hover { color: #FC4349; }
a.accout:active { color: #FC4349; }

/*profile*/
#profile {
margin: auto;
padding-top: 50px;
}
#profile td{
font-size: 14px;
padding-left: 10px;
padding-right: 10px;
}
#profile p{
  margin-top: 7px;
  margin-bottom: 7px;
}
#profile img{
  border-radius: 10px;
}
.hello{
font-weight: bold;
font-size: 27px;
}
.most{
overflow: hidden;
background-color: #eee;
}
.block{
width: 900px;
margin: auto;
overflow: hidden;
}

* {box-sizing: border-box;}
.nenpyo ul {
position: relative;
overflow: hidden;
list-style: none;
width: 800px;
margin: auto;
padding: 0;
}
.nenpyo ul:after {
content:"";
z-index: 1;
position: absolute;
left: 33.8%;
top:0;
width: 1px;
margin-left: -2px;
min-height: 100%;
background-color: #858aa0;
}
.nenpyo li {
z-index: 2;
position: relative;
padding-left: 20px;
float: left;
}
.nenpyo li.left {
float: left;
width: 250px;
text-align: right;
padding-right: 10px;
}
.nenpyo li.right {
width: 550px;
padding-left: 50px;
}
.left p{
  font-weight: bold;
}
.item{
  padding-left: 20px;
}

/* dot */
.nenpyo li.left:after {
content:"";
z-index: 1;
position: absolute;
top: 17px;
right: -25px;
left: -25px;
width: 8px;
height: 8px;
border: 3px solid #fff;
border-radius: 100%;
background-color: #FC4349;
transition: .2s;
}
.nenpyo li.left:after {
left: auto;
}
/*.nenpyo li.right + li.left:after,
.nenpyo li.left + li.right:after {
top: 70px;
}*/
.nenpyo li.right:after {
right: auto;
}
.nenpyo li.highlight:after {
left: 50%;
margin-left: -7px;
right: auto;
top: -24px;
}

.inc{
font-weight: bold;
font-size: 14px;
}

.inc img{
  vertical-align:middle;
  margin-right: 10px;
}

.project{
width: 1000px;
margin: auto;
overflow: hidden;
}
.speaker{
  padding-left: 30px;
}

.content_left{
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.content_right{
  float: right;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.exp {
float: left;
width: 280px;
height: 160px;
margin: 10px;
padding-top: 130px;
text-align: center;
}

.exp p{
font-size: 14px;
}
.exp a{
text-decoration: none;
font-size: 18px;
font-weight: bold;
color: #FC4349;
}

.exp a:link { color: #FC4349; }
.exp a:visited { color: #FC4349; }
.exp a:hover { color: #FC4349; }
.exp a:active { color: #FC4349; }

.others_left {
float: left;
width: 280px;
height: 260px;
margin: 10px;
padding-top: 110px;;
text-align: center;
font-size: 13px;
}

.others{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.others_right{
  width: 1000px;
}

.name {
font-size: 16px;
color: #FC4349;
}

.others_right a:link { color: #FC4349; }
.others_right a:visited { color: #FC4349; }
.others_right a:hover { color: #FC4349; }
.others_right a:active { color: #FC4349; }

.line{
width: 80px;
height: 3px;
background-color: #858aa0;
margin: auto;
}

.color{
  background-color: #eee;
  width: 100%;
}
.talk{
margin-bottom: 40px;
}

.talk p{
    margin-bottom: 10px;
    margin-left: 100px;
    font-size: 14px;
    padding-left: 100px;
}
.border{
  margin: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #FC4349;
}

/*FOOTER*/
footer{
font-size: 12px;
background-color: #25354F;
color: #eee;
margin-bottom: 0;
}

.menu{
  overflow: hidden;
  width: 750px;
  margin: auto;
}

.nav{
width: auto;
float: left;
}

.menu ul {
list-style: none;
}

.main{
color: #eee;
text-decoration: none;
font-weight: bold;
}

.sub{
  color: #eee;
  text-decoration: none;
  padding-left: 20px;
}

.sub:before{
content: '- ';
color: #eee;
}

.signature{
font-weight: bold;
text-align: center;
font-size: 15px;
}
