body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
p{
  font-size: 13px;
}
a{
  font-size: 13px;
}


.menu{
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #25354F;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.29);
}
.nav{
float: left;
}
.nav img{
  margin: auto;
}
.menu ul {list-style: none;}
.menu a{
  color: #eee;
}

.main{
text-decoration: none;
font-weight: bold;
}
.main:hover{
  color: #FC4349;
}
.sub{
  text-decoration: none;
  padding-left: 30px;
}
.sub:hover{
  color: #FC4349;
}

.sub:before{
content: '- ';
}
.sub_b{
margin-left: 20px;
font-size: 13px;
color: #eee;
}

a.accout{
  color: #FC4349;
  padding-right: 2px;
}

/*profile*/
#profile {
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
}
#profile td{
font-size: 14px;
padding-left: 10px;
padding-right: 10px;
}
#profile p{
  margin-top: 7px;
  margin-bottom: 7px;
}
#profile img{
  border-radius: 10px;
}
.hello{
font-weight: bold;
font-size: 27px;
}

a.twitter{background-color: #55acee;}
a.github{background-color: #24292E;}
a.blog{background-color: #008fde;}
a.SpeakerDeck{background-color: #1F855B;}
a.Qiita{background-color: #90D15D;}
a.rubygems{background-color: #E9573F;}
.account a{
  font-weight: bold;
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
.account p{
  margin-top: 23px;
}

* {box-sizing: border-box;}
.nenpyo ul {
position: relative;
overflow: hidden;
list-style: none;
width: 800px;
margin: auto;
padding: 0;
}
.nenpyo ul:after {
content:"";
z-index: 1;
position: absolute;
left: 34%;
top:0;
width: 1px;
margin-left: -2px;
min-height: 100%;
background-color: #858aa0;
}
.nenpyo li {
position: relative;
padding-left: 20px;
float: left;
margin-bottom: 10px;
}
.nenpyo li.left {
float: left;
width: 270px;
text-align: right;
padding-right: 25px;
}
.nenpyo li.right {
width: 450px;
padding-left: 20px;
background-color: #eee;
border-radius: 10px;
margin-left: 20px;
}
.nenpyo li.right:before{
content: "";
position: absolute;
top: 27px;
left: -20px;
margin-top: -15px;
border: 10px solid transparent;
border-right: 10px solid #e0edff;
}
.left p{
  font-weight: bold;
}
.item{
  padding-left: 12px;
}

/* dot */
.nenpyo li.left:after {
content:"";
z-index: 2;
position: absolute;
top: 15px;
right: -8px;
left: -8px;
width: 8px;
height: 8px;
border: 3px solid #fff;
border-radius: 100%;
background-color: #FC4349;
transition: .2s;
}
.nenpyo li.left:after {
left: auto;
}
.nenpyo li.right:after {
right: auto;
}
.inc{
font-weight: bold;
font-size: 14px;
}
.speaker{
  padding-left: 30px;
}

.project{
width: 1000px;
margin: auto;
overflow: hidden;
}

.example {/*親div*/
  position: relative;/*相対配置*/
  width: 600px;
  }
  .label{
    position: absolute;/*絶対配置*/
    width: 600px;
    height: 120px;
    top: 35%;
    left: 0;
    background-color:rgba(255,255,255,0.5);
  }
  .example table {
    margin:0;
    padding:0;
    position: absolute;/*絶対配置*/
    width: 300px;
    top: 50%;
    left: 50%;
    translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  .example td{
    text-align: center;
    font-size: 14px;
  }
  .example a{
    font-size: 16px;
    color: #FC4349;
    text-decoration: none;
    font-weight: bold;
  }

.content_left{
  float: left;
  margin-top: 30px;
  margin-bottom: 30px;
}
.content_right{
  margin-top: 30px;
  margin-bottom: 30px;
}
.exp {
float: left;
width: 300px;
height: 300px;
margin-left: 10px;
padding-top: 120px;
text-align: center;
}

.exp p{
font-size: 14px;
padding-left: 30px;
padding-right: 30px;
}
.exp a{
text-decoration: none;
font-size: 18px;
font-weight: bold;
color: #FC4349;
}

.exp a:link { color: #FC4349; }
.exp a:visited { color: #FC4349; }
.exp a:hover { color: #FC4349; }
.exp a:active { color: #FC4349; }

.noc{
  width: 800px;
  margin: auto;
}
.others_left {
float: left;
width: 280px;
margin: 10px;
padding-top: 110px;;
text-align: center;
font-size: 13px;
height: 230px;
}

.others{
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.others_right{
  width: 1000px;
  height: 230px;
}

.name {
font-size: 16px;
color: #FC4349;
}

.others_right a:link { color: #FC4349; }
.others_right a:visited { color: #FC4349; }
.others_right a:hover { color: #FC4349; }
.others_right a:active { color: #FC4349; }

.line{
width: 80px;
height: 3px;
background-color: #858aa0;
margin: auto;
}

.color{
  background-color: #eee;
  width: 100%;
}
.talk{margin-bottom: 40px;}

.talk p{
    margin-left: 100px;
    padding-left: 100px;
}
.border{
  margin: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #FC4349;
}

.inst{
  padding: 8px;
  background-color: #8B35Bf;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  margin-left: 15px;
}

/*FOOTER*/
footer{
margin-bottom: 0;
}

.signature{
font-weight: bold;
text-align: center;
font-size: 15px;
}
