body {
  margin: 0;
}
p, a, dt, dd{
  font-size: 14px;
  color: #333;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
.container{
  width: 960px;
  margin: auto;
}
/*---------------------- menu ----------------------*/
header{
  position:fixed;
  width:100%;
  z-index:100;
  height: 25px;
  background-color: #fff;
  border-bottom: solid 1px #ccc;
}
nav.top_menu{
  display: flex;
}
.top_menu a{
  color: #333;
  font-size: 12px;
}
ul.main_menu, ul.accont{
  margin: 0;
  padding: 0;
}
ul.accont{
  margin-left: auto;
}
.main_menu li, .accont li{
  display: inline;
  padding: 0 3px;
}
.accont li{
  font-weight: bold;
}
a.github{color: #24292E;}
a.twitter{color: #55acee;}
a.blog{color: #008fde;}
a.speakerdeck{color: #1F855B;}
a.qiita{color: #90D15D;}
a.rubygems{color: #E9573F;}

/*---------------------- main ----------------------*/
main{
  padding-top: 150px; /* 固定メニューの幅 */
}
h1{
  font-size: 23px;
  text-align: center;
}
h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
h2:first-letter {
font-size: 1.5em;
color: #FC4349;
}
/*---------------------- top ----------------------*/
.top img{
  display: block;
  margin: auto;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
.top p{
  text-align: center;
  line-height: 5px;
}
dl.side{
  overflow: hidden;
}

.side dt {
  display: block;
  width: 200px;
clear: left;
float: left;
text-align: right;
}
.side dd {
  margin: 0;
  padding-left: 10px;
  display: block;
  float: left;

}
/*---------------------- TIME LINE ----------------------*/
dl.time_line{
  border-top: solid 1px #000;
  display: flex;
  margin: 100px 0;
}
.block{
  flex: 1;
}
.time_line dt{
  position: relative;
  top: -30px;
  font-size: 13px;
  text-align: center;
}
.time_line dt::after{
  content:"";
  z-index: 2;
  position: absolute;
  top: 22px;
  left: 153px;
  width: 8px;
  height: 8px;
  border: 3px solid #fff;
  border-radius: 100%;
  background-color: #FC4349;
}
.time_line dd{
  position: relative;
  margin: 0;
  top: -10px;
}
.time_line p{
  margin: 0;
  text-align: center;
}




/*FOOTER*/
footer p{
  text-align: center;
}
